In [1]:
import sys
sys.path.append('..')  # This adds the parent directory to the Python path

In [2]:
import keyring
from cgapi import CoinGeckoAPI

In [3]:
api_key = keyring.get_password('coingecko', 'analyst_api_key')

In [4]:
api = CoinGeckoAPI(api_key, pro_api=True)
status = api.status_check()
print("API Server Status:", status)

API Server Status: {'gecko_says': '(V3) To the Moon!'}

In [5]:
coin_id = 'bitcoin'

In [6]:
coin_ids = ['bitcoin', 'ethereum', 'tether', 'binancecoin', 'solana']

In [7]:
platform_id = 'ethereum'

In [8]:
exchange_id='gdax'

In [9]:
ldo_contract_address = '0x5a98fcbea516cf06857215779fd812ca3bef1b32'
mkr_contract_address = '0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2'
aave_contract_address = '0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9'

In [10]:
start_date = '12-31-2022'
end_date = '12-31-2023'

In [11]:
coin_history_on_date_dict = api.coin_historical_on_date(coin_id, date=start_date)
print('Available Keys: {}'.format(sorted(coin_history_on_date_dict.keys())))

Available Keys: ['community_data', 'developer_data', 'id', 'image', 'localization', 'market_data', 'name', 'public_interest_stats', 'symbol']

In [12]:
coin_historical_data_between_dates = api.coin_historical_market_data(
    coin_id, 
    from_date=start_date, 
    to_date=end_date
)
coin_historical_data_between_dates

                                  price    market_cap  total_volume
timestamp
2023-01-01 00:00:00+00:00  16540.693625  3.182783e+11  1.201325e+10
2023-01-02 00:00:00+00:00  16615.969318  3.198320e+11  9.799253e+09
2023-01-03 00:00:00+00:00  16674.342536  3.214865e+11  1.302386e+10
2023-01-04 00:00:00+00:00  16677.646186  3.210808e+11  1.536717e+10
2023-01-05 00:00:00+00:00  16855.174739  3.243976e+11  2.083656e+10
...                                 ...           ...           ...
2023-12-27 00:00:00+00:00  42516.426940  8.324716e+11  2.047774e+10
2023-12-28 00:00:00+00:00  43418.467775  8.491942e+11  2.324475e+10
2023-12-29 00:00:00+00:00  42600.650633  8.360735e+11  2.033657e+10
2023-12-30 00:00:00+00:00  42074.707156  8.229340e+11  2.483240e+10
2023-12-31 00:00:00+00:00  42220.611401  8.266092e+11  1.472722e+10

[365 rows x 3 columns]

In [13]:
coins_historical_data = api.multiple_coins_historical_data(coin_ids, from_date=start_date, to_date=end_date)
print('Available Keys: {}'.format(sorted(coins_historical_data.keys())))
coins_historical_data['price'].head()

100%|██████████| 5/5 [00:00<00:00,  5.03it/s]

Available Keys: ['market_cap', 'price', 'total_volume']

,bitcoin,ethereum,tether,binancecoin,solana
timestamp,,,,,
2023-01-01 00:00:00+00:00,16540.693625,1196.613065,1.000126,246.659361,9.961463
2023-01-02 00:00:00+00:00,16615.969318,1200.659217,1.000564,244.064567,9.973949
2023-01-03 00:00:00+00:00,16674.342536,1214.378946,1.000179,245.429756,11.266377
2023-01-04 00:00:00+00:00,16677.646186,1214.760969,1.000054,246.211471,13.355392
2023-01-05 00:00:00+00:00,16855.174739,1256.436604,1.000169,259.128116,13.456293

In [14]:
historical_data_by_contract_from_to_date = api.contract_historical_market_data(
    platform_id, 
    ldo_contract_address, 
    from_date=start_date,
    to_date=end_date
)
historical_data_by_contract_from_to_date

                              price    market_cap  total_volume
timestamp
2023-01-01 00:00:00+00:00  0.951811  7.880108e+08  8.415353e+06
2023-01-02 00:00:00+00:00  1.077925  8.908959e+08  6.985973e+07
2023-01-03 00:00:00+00:00  1.211534  1.007538e+09  9.012206e+07
2023-01-04 00:00:00+00:00  1.201550  9.950221e+08  5.963762e+07
2023-01-05 00:00:00+00:00  1.373185  1.138099e+09  1.037322e+08
...                             ...           ...           ...
2023-12-27 00:00:00+00:00  2.414790  2.149743e+09  1.045843e+08
2023-12-28 00:00:00+00:00  2.834848  2.523409e+09  1.616723e+08
2023-12-29 00:00:00+00:00  2.707796  2.417343e+09  1.720521e+08
2023-12-30 00:00:00+00:00  2.891217  2.567556e+09  1.221432e+08
2023-12-31 00:00:00+00:00  2.737411  2.438736e+09  1.123191e+08

[365 rows x 3 columns]

In [15]:
exchange_volume_rolling_data = api.exchange_historical_volume(exchange_id)
exchange_volume_rolling_data

                            volume
timestamp
2023-12-08 07:50:00   60358.810402
2023-12-09 07:50:00   56968.599408
2023-12-10 07:50:00   36863.821019
2023-12-11 07:50:00   52179.292328
2023-12-12 07:50:00   68677.747485
2023-12-13 07:50:00   56247.034333
2023-12-14 07:50:00   59771.951409
2023-12-15 07:50:00   58895.405237
2023-12-16 07:50:00   51697.406168
2023-12-17 07:50:00   34048.611766
2023-12-18 07:50:00   37746.699173
2023-12-19 07:50:00   53171.753249
2023-12-20 07:50:00   46834.165746
2023-12-21 07:50:00   70958.482457
2023-12-22 07:50:00   67342.302683
2023-12-23 07:50:00   54113.442503
2023-12-24 07:50:00   43699.541332
2023-12-25 07:50:00   38661.255710
2023-12-26 07:50:00   44738.943969
2023-12-27 07:50:00   58349.048923
2023-12-28 07:50:00   76204.851414
2023-12-29 07:50:00   63513.759543
2023-12-30 07:50:00   59838.376155
2023-12-31 07:50:00   36581.640901
2024-01-01 07:50:00   41962.561251
2024-01-02 07:50:00   53236.333158
2024-01-03 07:50:00   93370.969272
2024-01-04 07:50:00  108192.562511
2024-01-05 07:50:00   68142.527313
2024-01-06 07:50:00   50893.140089

In [16]:
coin_circulating_supply_history = api.coin_circulating_supply_history(
    coin_id='bitcoin', 
    from_date=start_date, 
    to_date=end_date
)
coin_circulating_supply_history

           circulating_supply
timestamp
2023-01-01         19248656.0
2023-01-02         19249618.0
2023-01-03         19250593.0
2023-01-04         19251531.0
2023-01-05         19252456.0
...                       ...
2023-12-27         19581706.0
2023-12-28         19582562.0
2023-12-29         19583318.0
2023-12-30         19584275.0
2023-12-31         19585162.0

[365 rows x 1 columns]

In [17]:
coin_total_supply_history = api.coin_total_supply_history(
    coin_id='bitcoin', 
    from_date=start_date, 
    to_date=end_date
)
coin_total_supply_history

           total_supply
timestamp
2023-01-01   21000000.0
2023-01-02   21000000.0
2023-01-03   21000000.0
2023-01-04   21000000.0
2023-01-05   21000000.0
...                 ...
2023-12-27   21000000.0
2023-12-28   21000000.0
2023-12-29   21000000.0
2023-12-30   21000000.0
2023-12-31   21000000.0

[365 rows x 1 columns]

In [18]:
api.end_session()

'Session closed successfully.'