# Enterprise Plan Endpoints

In [1]:
import sys
sys.path.append('..')  # This adds the parent directory to the Python path

In [2]:
import keyring
from cgapi import CoinGeckoAPI

In [3]:
api_key = keyring.get_password('coingecko', 'analyst_api_key')

In [4]:
api = CoinGeckoAPI(api_key, pro_api=True)
status = api.status_check()
print("API Server Status:", status)

API Server Status: {'gecko_says': '(V3) To the Moon!'}

## /coins/{id}/circulating_supply_chart

In [5]:
coin_circulating_supply_data = api.coin_circulating_supply_history(
    coin_id='bitcoin', 
    days=7, 
    interval='daily'
)
coin_circulating_supply_data

                    circulating_supply
timestamp
2023-12-31 00:00:00         19585162.0
2024-01-01 00:00:00         19586150.0
2024-01-02 00:00:00         19587106.0
2024-01-03 00:00:00         19587918.0
2024-01-04 00:00:00         19588875.0
2024-01-05 00:00:00         19589981.0
2024-01-06 00:00:00         19590850.0
2024-01-06 22:26:40         19591675.0

## /coins/{id}/circulating_supply_chart/range

In [6]:
coin_circulating_supply_chart_range = api.coin_circulating_supply_history(
    coin_id='bitcoin', 
    from_date='01-01-2023', 
    to_date='12-31-2023'
)
coin_circulating_supply_chart_range

           circulating_supply
timestamp
2023-01-02         19249618.0
2023-01-03         19250593.0
2023-01-04         19251531.0
2023-01-05         19252456.0
2023-01-06         19253412.0
...                       ...
2023-12-27         19581706.0
2023-12-28         19582562.0
2023-12-29         19583318.0
2023-12-30         19584275.0
2023-12-31         19585162.0

[364 rows x 1 columns]

## /coins/{id}/total_supply_chart

In [7]:
coin_total_supply_data = api.coin_total_supply_history(
    coin_id='bitcoin', 
    days=7, 
    interval='daily'
)
coin_total_supply_data

                    total_supply
timestamp
2023-12-31 00:00:00   21000000.0
2024-01-01 00:00:00   21000000.0
2024-01-02 00:00:00   21000000.0
2024-01-03 00:00:00   21000000.0
2024-01-04 00:00:00   21000000.0
2024-01-05 00:00:00   21000000.0
2024-01-06 00:00:00   21000000.0
2024-01-06 22:27:04   21000000.0

## /coins/{id}/total_supply_chart/range

In [8]:
coin_total_supply_chart_range = api.coin_total_supply_history(
    coin_id='bitcoin', 
    from_date='01-01-2023', 
    to_date='12-31-2023'
)
coin_total_supply_chart_range

           total_supply
timestamp
2023-01-02   21000000.0
2023-01-03   21000000.0
2023-01-04   21000000.0
2023-01-05   21000000.0
2023-01-06   21000000.0
...                 ...
2023-12-27   21000000.0
2023-12-28   21000000.0
2023-12-29   21000000.0
2023-12-30   21000000.0
2023-12-31   21000000.0

[364 rows x 1 columns]

## /token_lists/{asset_platform_id}/all.json

In [9]:
tokens_list = api.all_tokens_list(asset_platform_id='ethereum')
tokens_list

,chainId,address,name,symbol,decimals,logoURI
0,1,0x1ccf27211e8bf052f6255329ed641b4e94e80603,Metababy,BABY,18,https://assets.coingecko.com/coins/images/2717...
1,1,0x2001f2a0cf801ecfda622f6c28fb6e10d803d969,CoinLoan,CLT,8,https://assets.coingecko.com/coins/images/1713...
2,1,0xdd974d5c2e2928dea5f71b9825b8b646686bd200,Kyber Network Crystal Legacy,KNCL,18,https://assets.coingecko.com/coins/images/947/...
3,1,0x3da434f76226b9489ed4277eb6fdccdf03ff190e,Zion Token,ZION,18,https://assets.coingecko.com/coins/images/3050...
4,1,0x96f6ef951840721adbf46ac996b59e0235cb985c,Ondo US Dollar Yield,USDY,18,https://assets.coingecko.com/coins/images/3170...
...,...,...,...,...,...,...
4822,1,0xa719cb79af39a9c10eda2755e0938bce35e9de24,Starfish Finance,SEAN,18,https://assets.coingecko.com/coins/images/2753...
4823,1,0x3b79a28264fc52c7b4cea90558aa0b162f7faf57,Wonderful Memories,WMEMO,18,https://assets.coingecko.com/coins/images/2239...
4824,1,0x19b22dbadc298c359a1d1b59e35f352a2b40e33c,tPLATINUM,TXPT,18,https://assets.coingecko.com/coins/images/2783...
4825,1,0xe4a6f23fb9e00fca037aa0ea0a6954de0a6c53bf,tGOLD,TXAU,18,https://assets.coingecko.com/coins/images/2782...
4826,1,0x34abce75d2f8f33940c721dca0f562617787bff3,tSILVER,TXAG,18,https://assets.coingecko.com/coins/images/2782...

In [10]:
api.end_session()

'Session closed successfully.'